<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Maladie Feuille Oliviers</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <h1 style="color: black;">Prédiction des Maladies des Feuilles d'Olivier</h1>

    <div class="form-container">
        <h2>Upload d'Image</h2>
        <form id="upload-form" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" required>
            <br><br>
            <button type="submit">Prédire</button>
        </form>
    </div>

    <div class="result" id="result" style="display: none;"> 
        <h2>Résultat de la Prédiction :</h2>
        <p id="predicted-class"></p>
        <p><strong>Cause :</strong> <span id="cause"></span></p>
        <p><strong>Recommandation :</strong> <span id="recommendation"></span></p>

        
        <div class="products" id="products"></div>
    </div>
    
    <script>
        document.getElementById('upload-form').addEventListener('submit', function(e) {
            e.preventDefault();

            var formData = new FormData(this);

            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('predicted-class').textContent = "Classe: " + data.class;
                document.getElementById('cause').textContent = data.cause;
                document.getElementById('recommendation').textContent = data.recommendation;

                // Affichage horizontal des produits recommandés avec style carte
                let productsHtml = '';
                data.products.forEach(product => {
                    productsHtml += `
                        <div class="product-card">
                            <h4>${product.name}</h4>
                            <img src="${product.img_url}" alt="${product.name}">
                        </div>
                    `;
                });
                document.getElementById('products').innerHTML = productsHtml;

                document.getElementById('result').style.display = 'block';
            })
            .catch(error => {
                alert('Erreur lors de la prédiction: ' + error);
            });
        });
    </script>

</body>
</html>
